@charset "utf-8";
/* CSS Document */
.list-group-item {
    font-size: .8em;
    padding: 0em 1em;
    background-color: #555;
    color: white;
    border-radius: .5em 0 .5em 0;
    margin: .2em;
}
.code-block {
    text-align: left;
    background-color: white;
    padding: 1em;
    margin: 1em;
    border: 1em solid gray;
}
.code-desc {
    text-align: center;
    background-color: #555;
    color: white;
    font-size: 1.2em;
    margin: 0 5em 0 5em;
    border-radius: 5px;
    padding: .1em;
}
.code-inline {
    background-color: #555;
    color: white;
    margin-left: .3em;
    margin-right: .3em;
    padding: .5em;
    border-radius: 5px;
}

.html-wrapper {
	background-color: rgba(255,255,255,0.7);
}
